.imageRow {
  display: flex; /* Arrange images in a single row */
  white-space: nowrap; /* Prevent wrapping to multiple lines */
  width: 100%; /* Full width of viewport for scrolling */
}

.imageContainer {
  margin: 5px; 
  width: 100%; /* Width of each image */
  margin-top: 0;
  margin-bottom: 0;
}

.imageContainer img {
  object-fit: cover;
  border-radius: 14px; /* Rounded corners */
  transition: border 0.3s; /* Smooth transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Subtle shadow */
}

.edgeImage {
  animation: bobUpDown 5s infinite;
}

.midImage {
  animation: bobMid 5s infinite;
}

@keyframes bobUpDown {
  0%, 25%, 100% {
    transform: scale(100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
  6.25%, 18.75% {
    transform: scale(103%);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
  }
}

@keyframes bobMid {
  0%, 25%, 50%, 100% {
    transform: scale(100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
  31.25%, 43.75% {
    transform: scale(103%);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
  }
}

.welcomeGradient {
  /* Define the gradient background */
  background:
  linear-gradient(
    to right,    
    #d1fffb,
    rgb(233, 251, 255)
  ),
  linear-gradient(
    to right,    
    rgb(179, 238, 251),
    rgb(0, 167, 204),
    rgb(179, 238, 251),
    rgb(0, 167, 204)
  );

  /* Make the background clip to the text */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* For non-WebKit browsers */
  background-clip: text;
  color: transparent;

  /* Initial state for the transition */
  background-size: 0% 100%, 100% 100%;
  background-repeat: no-repeat;
  transition: background-size 800ms ease-in-out;
}

.welcomeGradient:hover {
  background-size: 100% 100%, 100% 100%;
}

.iconContainer {
  display: flex;
  align-items: center; 
  gap: 8px;
}

.iconContainer:hover {
  transform: translateX(0.8em);
}