.projImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 4px solid silver;
}

.linkBox {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: -1em;
  margin-top: -2em;
}

.linkBox a:hover {
  color: #ff79be;
}
